.gallery {
  &_videos {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
    a {
      display: block;
      width: calc(25% - 6px);
      img {
        width: 100%;
      }
    }
  }
}
