.header {
  border-bottom: 1px solid #e4ede7;
  background: #f5faf7;
  padding: 20px 0 17px 0;
  .menu__body {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    ul{
        
    }
  }
}
