.hero {
  &_top {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
    }
    &_left {
      width: calc(57% - 10px);
      @media (max-width: 1200px) {
        width: calc(50% - 10px);
      }
      @media (max-width: 992px) {
        width: 100%;
      }
      h1 {
        color: #191a19;
        font-size: 45.7px;
        font-weight: 600;
        line-height: 48px;
        text-transform: uppercase;
        @media (max-width: 1200px) {
          font-size: 32px;
        }
        @media (max-width: 992px) {
          font-size: 26.4px;
          line-height: 32px;
          span {
            display: none;
          }
        }
      }
    }
    &_right {
      width: calc(43% - 10px);
      @media (max-width: 1200px) {
        width: calc(50% - 10px);
      }
      @media (max-width: 992px) {
        width: 100%;
      }
      .call_title {
        color: #191a19;
        font-size: 22.64px;
        font-weight: 500;
        line-height: 32px;
        padding-right: 30px;
        @media (max-width: 1200px) {
          font-size: 20px;
          padding-right: 24px;
        }
        @media (max-width: 992px) {
          font-size: 15.32px;
          font-weight: 600;
          line-height: 20px;
        }
        span {
          color: #3b945f;
          font-weight: 700;
        }
      }
      .call_buttons {
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        margin-top: 20px;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 12px;
        }
        .call__button {
          display: flex;
          padding: 12px 32px;
          justify-content: center;
          align-items: center;
          background: #3b945f;
          color: #f5faf7;
          text-decoration: none;
          transition: all 0.3s ease;
          font-weight: 400;
          font-size: 15px;
          line-height: 157%;
          &:hover {
            background: #41cc79;
          }
          @media (max-width: 1200px) {
            font-size: 14px;
          }
          @media (max-width: 992px) {
            font-size: 15.32px;
          }
          &:not(.no_bg) {
            min-width: 253px;
          }
          &.no_bg {
            border: 1px solid #3b945f;
            background: #fcfffd;
            color: #4a4d4b;
            &:hover {
              color: #41cc79;
            }
          }
        }
      }
    }
  }
  &__content {
    display: flex;
    gap: 12px;
    margin-top: 40px;
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      margin-top: 28px;
    }
    &_list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 50%;
      flex: 0 0 auto;
      @media (max-width: 992px) {
        flex-direction: row;
        overflow-x: auto;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &_item {
      border-radius: 8px;
      border: 2px solid #e5ecff;
      display: flex;
      gap: 12px;
      padding: 12px;
      @media (max-width: 992px) {
        flex: 0 0 auto;
        max-width: 320px;
        align-items: flex-start;
      }
      &_title {
        color: #191a19;
        font-weight: 600;
        font-size: 15px;
        line-height: 131%;
      }
      p {
        color: #4a4d4b;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin-top: 4px;
        line-height: 136%;
      }
    }
    &_img {
      display: flex;
      width: 40px;
      height: 40px;
      flex: 0 0 auto;
      border-radius: 4px;
      background: #e9f2ec;
      align-items: center;
      justify-content: center;
    }
    &_right {
      max-height: 524px;
      line-height: 0;
      @media (max-width: 992px) {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
      @media (max-width: 768px) {
        width: calc(100% + 80px);
        margin-left: -60px;
      }
      img {
        height: 100%;
        @media (max-width: 992px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
