@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "header";
@import "hero";
@import "steps";
body {
  background: #fff;
  color: #191a19;
  font-family: "Montserrat";
  font-size: 15.32px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1284px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    padding: 0 20px;
  }
  @media (max-width: 992px) {
    max-width: 768px;
  }
}
.section_title {
  color: #191a19;
  font-size: 37.44px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  @media (max-width: 992px) {
    font-size: 26.4px;
  }
  span {
    color: #3b945f;
  }
  &.light {
    color: #f5faf7;
  }
}
