@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import "header";
@import "hero";
@import "steps";
@import "ukls_section";
@import "calculation";
@import "consultation";
@import "gallery";
@import "prices";
@import "forms";
@import "footer";
@import "policy";
@import "not_found";
@import "modal";
body {
  background: #fcfffd;
  color: #191a19;
  font-family: "Montserrat";
  font-size: 15.32px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1284px;
  margin: 0 auto;
  @media (max-width: 1300px) {
    padding: 0 20px;
  }
  @media (max-width: 992px) {
    max-width: 768px;
  }
}
.section_title {
  color: #191a19;
  font-size: 37.44px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  @media (max-width: 992px) {
    font-size: 26.4px;
  }
  span {
    color: #3b945f;
  }
  &.light {
    color: #f5faf7;
  }
}
main {
  padding-top: 88px;
}
.cookie_banner {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background: #f5faf7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  opacity: 1;
  &.hidden {
    transition: all 0s ease;
    opacity: 0;
    display: none;
    pointer-events: none;
    transform: translateX(-50%) translateY(20px);
  }

  .cookie_content {
    .cookie_title {
      font-weight: 600;
      font-size: 15.32px;
      line-height: 20px;
      color: #191a19;
    }

    .cookie_text {
      margin-top: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #4a4d4b;
      a {
        color: #3a8f46;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .cookie_btn {
    background: #3a8f46;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 68px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
    font-style: normal;
    font-weight: 400;
    font-size: 15.32px;
    line-height: 24px;
    color: #f5faf7;
    &:hover {
      background: #32783b;
    }
  }

  .cookie_close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 15.32px;
    line-height: 24px;
    color: rgba(21, 26, 23, 0.45);
    &.active {
      color: rgb(21, 26, 23);
    }
  }
}
